@font-face {
    font-family: sofiaPro-bold;
    src: url(../fonts/sofiaPro_Bold.ttf);
}

@font-face {
    font-family: SofiaPro-SemiBold;
    src: url(../fonts/sofiaPro_SemiBold.ttf);
}

@font-face {
    font-family: sofiaPro-regular;
    src: url(../fonts/sofiaPro_Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $mainBackground;
}

a {
	cursor: pointer;
	text-decoration: none;
	outline: none;
    color: $linkColor;
}

img {
    display: block;
    width: $fullwidth;
}

.main {
	width: 100%;
    background: url(http://andypatrickdesign.com/images/lines.png) top center repeat-y $mainBackground;
    background-size: 136%;
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    width: 100vw;
}
.main__title {
	color: $whiteColor;
    font-family: $sofiaBoldFont;
    text-align: center;
    font-weight: normal;
    z-index: 2;
    font-size: 17vw;
    letter-spacing: $pageTitleSpacing;
    position: relative;
}