footer {
    position: fixed;
    z-index: 100;
}

.footer--left {
	bottom: 80px;
    width: 165px;
    left: -76px;
    height: 40px;
    transform: rotate(90deg);
}

.footer__copyright {
	color: $greyColor;
    font-family: $sofiaFont;
    font-weight: normal;
    text-align: right;
    font-size: $footerFontSize;
}

.footer--right {
	text-align: right;
    width: 30px;
    bottom: 15px;
    right: 11px;
}

.footer__icon {
	margin-top: 15px;
    width: 20px;
}

